.text-right {
    text-align: right !important;
}
.pdf_header_main {
    display: block;
}
.pdf_header_div {
    display: inline-block;
    width: 450px;
    padding: 10px;
}
.form_details {
    display: inline-block;
    width: 49%;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.mb-5{
    margin-bottom: 5px !important;
}
.mt-25{
    margin-top: 25px !important;
}

#pdf-div {
    border-top: 10px solid #3C78D8; 
}
#pdf-div.green-color {
    border-top: 10px solid #274E13;
}
.color-blue {
    color: #3C78D8 !important;
}
.color-green {
    color: #274E13 !important;
}
.color-white {
    color: #fff !important;
}
.bg-color-blue {
    background-color: #3C78D8 !important;
}
.bg-color-green {
    background-color: #274E13 !important;
}
.logo_container {
    float: left;
}
.logo_container img {
    width: 120px;
    height: 130px
}
.company_info {
    margin: 10px 0;
}
.company_info p {
    margin: 0;
    font-size: 11px;
    color: rgba(0,0,0,0.7);
}
.pick_up_div p {
    padding-bottom: 5px;
    border-bottom: 1px solid;
}
.highlight-label {
    width: 98%;
    background-color: #C9DAF8;
    display: inline-block;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}
.highlight-label-green {
    width: 98%;
    background-color: #D9EAD3;
    display: inline-block;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}
.form_details p {
    padding-bottom: 5px;
    border-bottom: 1px solid;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding-right: 20px;
}
table th {
    padding: 10px;
    font-size: 13px;
}
table td {
    border: 0.9px solid #ccc;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
}

.address_details {
    display: inline-block;
    width: 280px;
    float: left;
}
.address_details.border_bottom p {
    margin: 5px 0;
    border-bottom: 1px solid #000;
    padding: 5px;
}
.please_note_p {
    height: 140px;
    font-size: 13px;
    background-color: #C9DAF8;
    text-align: justify;
    padding: 5px;
}
.please_note_green_p {
    height: 140px;
    font-size: 13px;
    background-color: #D9EAD3;
    text-align: justify;
    padding: 5px;
}